/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

@font-face {
    font-family: 'redfoodie';
    src: url('../fonts/redfoodie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.redfood-icon {
    font-family: 'redfoodie';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.redfood-invite-search:before {
    content: "\e610";
}
.redfood-cross:before {
    content: "\e60f";
}
.redfood-check-filled:before {
    content: "\e60e";
}
.redfood-check:before {
    content: "\e60d";
}
.redfood-searchup:before {
    content: "\e60c";
}
.redfood-search:before {
    content: "\e60b";
}
.redfood-redfoodie:before {
    content: "\e60a";
}
.redfood-twitter:before {
    content: "\e600";
}
.redfood-google:before {
    content: "\e601";
}
.redfood-restaurant:before {
    content: "\e602";
}
.redfood-bar:before {
    content: "\e603";
}
.redfood-coffee:before {
    content: "\e604";
}
.redfood-diamond:before {
    content: "\e605";
}
.redfood-ice:before {
    content: "\e606";
}
.redfood-bicycle:before {
    content: "\e607";
}
.redfood-facebook:before {
    content: "\e608";
}
.redfood-capcake:before {
    content: "\e609";
}
h1#logo {
    margin-top: -15px;
}
#logo a {
    text-decoration: none;
    vertical-align: sub;
}
.city-list {
    height: 35px;
    position: relative;
}
.city-box {
    background: no-repeat 10px 9px;
    line-height: 35px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
}
.city-box span {
    font-size: 11px;
}
.city-box:hover,.opened {
    box-shadow: 2px 3px 3px #000000;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.4);
    background-color: #e5e5e3;
}

.city-box:hover .drop_menu {
    display: block!important;
    background-color: #e5e5e3;
}
.city-box:hover .fa {
    /*TODO: investigate whats wrong with `transform` CSS property*/
    transform: rotate(180deg);
}
.drop_menu {
    width: 116px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: 2px 3px 3px #000000;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.4);
    display: none;
    font-size: 13px;
    z-index: 200;
}
.drop_menu li {
    float: left;
}
.first-country {
    background-color: #f8f8f8;
}
.drop_menu li.first-item {
    border: none;
}
.drop_menu li a {
    width: 100%;
    float: left;
    line-height: 28px;
    color: #555;
    padding-left: 10px;
    display: block;
    text-decoration: none;
}
.drop_menu li a:hover {
    background-color: #fff;
}
.main-header {
    padding: 10px 0 3px;
    font-size: 14px;
}
#loginLink,#registerLink {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #8d8d8d;
    /*TODO: investigate whats wrong with `border-radius` CSS property*/
    border-radius: 0;
}
#registerLink {
    background-color: #D91E18;
    color: #fff;
    display: inline-block;
}
#registerLink:hover {
    background-color: #ca4433;
}
.top_banner_image_page_contact_us {
    background: url('/bundles/ispgapp/images/banners/contact_us.png') no-repeat;
    /*TODO: investigate whats wrong with `background-size` CSS property*/
    background-size: cover;
    padding: 0;
    list-style: none;
    height: 224px!important;
    margin-top: 48px;
}
.slide-contnet-wrap2 {
    background: #000000;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.75) 100%) repeat scroll 0 0 rgba(0,0,0,0);
    bottom: 0;
    height: 224px;
    left: 0;
    right: 0;
    transition: background-color .15s ease-out 0s;
}
ul.bxslider {
    margin: 0;
}
ul.bxslider li {
    left: 0;
    width: 100%;
    background: url("/Content/thumbs/banners/1280x600_5749bf6e284c1-fd.png") no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    height: 599px;
}
ul.bxslider li a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.skin {
    box-shadow: 0 1px 0 #000000;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background: #fff;
}

#user-login,#user-signup {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #8d8d8d;
    border-radius: 0;
}
#user-signup {
    background-color: #D91E18;
    color: #fff;
}
#user-signup:hover {
    background-color: #ca4433;
}
.banner {
    overflow: hidden;
    text-align: center;
    margin-top: 57px;
    height: 224px;
}
.search_wrapper {
    position: relative;
    background: transparent;
    box-shadow: none;
    z-index: 100;
}
.main-search {
    margin-top: -138px;
    z-index: 150;
}
.main-search .caption {
    width: 100%;
    z-index: 150;
    background: #e1e3e7;
    background: rgba(225,227,231,0.9);
    padding: 8px 0;
    border-bottom: 1px solid #e4e4e2;
}

.main-search .caption span {
    font-size: 17px;
    color: #636363;
    padding-left: 35px;
}
.main-search-fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}
.main-search-fixed-slide {
    top: -509px;
    position: fixed!important;
    z-index: 1;
}
.main-search .Search-part ul li a .button {
    width: 100px;
}
.globalwidth {
    margin: 0 auto;
    position: relative;
}
.button {
    text-align: center;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #363636;
    outline: 0;
    display: inline-block;
    *display: inline-block;
    *zoom:1;-webkit-transition: background-color .3s ease 0s;
    -moz-transition: background-color .3s ease 0s;
    -ms-transition: background-color .3s ease 0s;
    -o-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s;
}
.s-form ul {
    height: 111px;
    margin: 0;
}
.s-form li {
    width: 148px;
    float: left;
    border-left: 1px solid #e4e4e2;
    text-align: center;
    transition: background-color .3s ease 0s;
}
.s-form li a {
    text-decoration: none;
    height: 111px;
    padding: 0 10px;
    display: block;
}
.s-form li .item i {
    width: 67px;
    height: 40px;
    margin: 15px auto 5px;
}
.s-form li .item1 i {
    background-position: 0 0;
}
.s-form li .item2 i {
    background-position: -59px 0;
    width: 49px;
}
.s-form li .item3 i {
    background-position: -100px 0;
    width: 49px;
}
.s-form li .item4 i {
    background-position: -150px 0;
    width: 49px;
}
.form-pane {
    width: 432px;
    height: 111px;
    background-color: #fafafa;
    text-align: center;
    position: relative;
    z-index: 5;
}
.form-pane .sup-div {
    padding: 20px 0 0 31px;
    position: relative;
}
.form-pane label {
    font-size: 15px;
    color: #363636;
    font-weight: normal;
}
.form-pane input[type="text"] {
    height: 39px;
    width: 500px;
    padding-right: 40px;
}
.form-pane .button {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 38px;
    height: 39px;
    border: none;
    background: none;
    padding: 0;
    background-color: #D91E18;
}
.form-pane .highlight {
    color: #000;
    font-weight: bold;
}
.home-pane-or {
    width: 636px!important;
    margin: 0 auto;
}
.home-pane-or label {
    float: left;
    line-height: 38px;
    margin-right: 22px;
}
.home-pane-or .sup-div {
    margin-left: 152px;
}
.home-pane-or .msrch-mn {
    height: 52px!important;
    width: 636px!important;
    margin-top: 0;
}
.home-pane-or .msrch-wrp1,.home-pane-or .msrch-wrp2 {
    float: left;
    width: 565px;
    margin-top: 0;
}
.home-pane-or .msrch-wrp2 {
    margin-top: 0;
}
.home-pane-or .msrch-dpdwn li.sitem div {
    float: left;
}
.home-pane-or .msrch-mn #searchTxt {
    height: 52px;
    width: 565px!important;
}
.home-pane-or .msrch-mn #searchTxtLoc {
    height: 51px;
    width: 512px!important;
}
.msrch-mn {
    overflow: hidden;
    height: 39px;
    width: 500px;
}
.quick-search .msrch-mn {
    height: 32px;
}
.quick-search .msrch-wrp2 {
    margin-top: 1px;
}

.pop_outer_wrapper {
    background: #ffffff;
    background: rgba(255,255,255,0.50);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
}

.pop_wrapper {
    position: fixed;
    top: 80px!important;
    left: 50%;
    display: none;
    z-index: 9999;
}

.pop-container-relative {
    position: relative;
    left: -50%;
    background: #fff;
    z-index: 99999;
    border-radius: 4px;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
    box-shadow: 0 0 92px 0 rgba(0,0,0,.26);
}

.pop_close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    font-size: 22px;
    cursor: pointer;
    color: grey;
    text-decoration: none!important;
}

#pp_desc {
    font-family: 'Open Sans',sans-serif;
    color: #363636;
    line-height: 26px;
    font-size: 13px;
    font-weight: normal;
}

#pp_desc a {
    color: #D91E18;
}

#pp_desc h2 {
    font-weight: 500;
    margin: 0 0 3px;
    font-size: 20px;
}

.mgn_lft {
    margin-left: 6px;
}

.blk_style {
    position: relative;
}

.blk_style>.button {
    width: 35px;
    height: 30px;
    font-size: 20px;
}

.header-messages .message-popup-link {
    text-align: center;
    display: block;
    line-height: 30px;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
}

.home-pane-or button {
    right: -57px!important;
    top: 0;
}
.home-pane-or .msrch-dpdwn {
    top: 52px!important;
    width: 565px;
}
.home-pane-or #msdpdwn2 {
    left: 53px!important;
    width: 512px;
    top: 51px!important;
}
.home-pane-or #msdpdwn2 .locauto span {
    margin-left: 165px!important;
}
.home-pane-or form {
    position: relative;
    margin-left: -42px;
    float: left;
    height: 52px;
}
.msrch-wrp1,.msrch-wrp2 {
    float: left;
    width: 500px;
}
.msrch-wrp1 input[type="text"] {
    cursor: pointer;
    border: none;
    height: 37px;
}
.msrch-wrp2 input[type="text"] {
    float: left;
    width: 455px;
    border: none;
    height: 37px;
}
.msrch-mn {
    overflow: hidden;
    height: 39px;
    width: 500px;
}
.msrch-wrp1,.msrch-wrp2 {
    float: left;
    width: 500px;
}
.msrch-wrp1 input[type="text"] {
    cursor: pointer;
    border: none;
    height: 37px;
}
.msrch-wrp2 input[type="text"] {
    float: left;
    width: 455px;
    border: none;
    height: 37px;
}
.msrch-dpdwn {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #b0b0b0;
    top: 85px;
    width: 468px;
}
.msrch-dpdwn ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.msrch-dpdwn li {
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    float: none;
    text-align: left;
    color: #000;
    font-size: 12px;
    line-height: 45px;
}
.msrch-dpdwn li a {
    height: auto;
    color: #8d8d8d;
    float: left;
}
.msrch-dpdwn li:hover a {
    color: #000;
}
.msrch-dpdwn li.active a {
    color: #000;
}
.msrch-dpdwn li.suggestLoc {
    color: #8d8d8d;
}

.msrch-dpdwn li span.outlet {
    float: right;
    color: #8d8d8d;
    font-size: 11px;
}
.msrch-dpdwn li.slabel {
    background: #f3f3f3;
    border-bottom: 0;
    font-weight: bold;
}
.msrch-dpdwn li.sitem {
    cursor: pointer;
}

.msrch-dpdwn li.sitem div:before {
    font-size: 18px;
    margin-right: 10px;
    margin-top: -1px;
    float: left;
}
.msrch-dpdwn li.sitem:hover {
    background: #E2E2E0;
    color: #000;
}
.msrch-dpdwn li.active {
    background: #E2E2E0;
    color: #000;
}
.sel-cat {
    background: #dadada;
    width: 45px;
    font-family: "rficon";
    line-height: 38px;
    text-align: center;
    font-size: 25px;
    float: left;
    color: #868686;
    cursor: pointer;
}
.sel-cat i {
    opacity: 1;
}
.sel-cat:hover i {
    opacity: 1;
}
button.search-button {
    width: auto!important;
    height: 52px!important;
    line-height: 54px;
    font-size: 12px;
    color: #fff;
    padding: 0 31px!important;
    overflow: initial;
}
button.search-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #D91E18;
    left: -10px;
    top: 16px;
}
div.sitem,div.locauto {
    border-bottom: 1px solid #e2e2e0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    float: none;
    text-align: left;
    color: #8d8d8d;
    font-size: 12px;
    background: #f3f3f3;
    cursor: pointer;
}
div.sitem:hover,div.locauto:hover {
    background: #E2E2E0;
    color: #000;
}
.sitem div .redfood-icon {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 8px;
}
input[type="text"],input[type="password"],textarea {
    background: #fff;
    border: 1px solid #b7b7b7;
    color: #363636;
    padding: 5px 10px;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    border-color: #d94a38!important;
}
a,a:focus {
    text-decoration: none;
    outline: none;
    color: #D91E18;
}
a:hover {
    color: #D91E18;
}
.clr-red {
    color: #D91E18!important;
}
.bg-red {
    background-color: #D91E18!important;
}
.clr-grey {
    color: #8d8d8d!important;
}
.icon-loading2 {
    background-image: url(/Content/thumbs/rf-loading.gif);
    background-position: center center!important;
    background-repeat: no-repeat;
    display: block;
    z-index: 1000;
}
.wmd-panel textarea {
    width: 100%;
    margin-bottom: 15px;
}
.compose-area {
    float: right;
}
.compose-area a {
    padding: 8px 10px;
    background-color: #D91E18;
    outline: none;
    color: #fff!important;
    text-decoration: none;
}
.home-left {
    float: left;
    width: 68%;
    padding-top: 10px;
}
.home-right {
    float: right;
    width: 29%;
    padding-top: 10px;
}
.recommend-list {
    border: 1px solid #e4e4e2;
    border-left: none;
    overflow: hidden;
}
.recommend-list .tabs {
    float: left;
    margin-bottom: -1px;
    width: 35%
}
.recommend-list .tab-content {
    float: left;
    padding: 10px;
    width: 65%;
}
.recommend-list .tab-content .tab-pane {
    min-height: 240px;
    position: relative;
    padding-top: 10px;
}
.recommend-list .tabs li {
    height: 103px;
    line-height: 99px;
    margin: 4px 0;
    background-position: 50% 50%;
    border-right: 4px solid transparent;
    background-size: cover;
    position: relative;
}
.recommend-list .tabs li.more {
    height: 40px;
    line-height: 40px;
    border: 1px solid #e4e4e2;
}
.recommend-list .tabs li.more a {
    color: #8d8d8d!important;
    font-size: 20px;
    font-weight: 400;
}
.recommend-list .tabs li.more a:hover {
    color: #000;
}
.recommend-list .tabs li.active {
    border-right-color: #D91E18;
}
.recommend-list .tabs li.active:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #D91E18;
    right: 0;
    top: 40px;
}
.recommend-list .tabs li:first-child {
    margin-top: 0;
}
.recommend-list .tab-pane .more {
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 10px;
}
.recommend-list .tab-pane .more a {
    color: #D91E18;
}
.recommend-item {
    height: 90px;
    border-bottom: 1px solid #e4e4e2;
    margin-bottom: 10px;
}
.recommend-item:last-child {
    height: 90px;
    border-bottom: none;
}
.recommend-item .restaurant-link {
    color: #D94A39;
    font-weight: 600;
    font-size: 14px;
    display: block;
}
.recommend-item .restaurant-locality {
    display: block;
}
.recommend-item .restaurant-locality a {
    color: #8d8d8d;
    font-size: 12px;
}
.recommend-item .restaurant-rating {
    float: right;
    font-size: 18px;
    line-height: 27px;
}.recommend-item .restaurant-review {
    display: block;
    width: 305px;
    overflow: hidden;
    height: 55px;
    font-size: 13px;
}
.recommend-item .review-text {
    overflow: hidden;
    display: block;
}
.recommend-item .restaurant-img img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px 10px 0;
}
.recommend-item .review-reviewer-photo {
    float: left;
    margin: 10px;
    margin: 5px 10px 0 0;
}
.recommend-item .review-reviewer-photo img {
    width: 30px;
    height: 30px;
}
.greyHeart {
    color: #8a8a8a;
}
.rateHigherHeart {
    color: #d91e18;
    background: url(/Content/collections/imgs/heart--big-dark-red.png) no-repeat left center;
    background-size: 13px 11px;
    padding-left: 15px;
}
.rateHigherHeart.bigHeart {
    background-size: 45px 37px;
    background-image: url(/Content/collections/imgs/heart--big-dark-red.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.rateMiddleHeart {
    color: #f9690e;
    background: url(/Content/collections/imgs/heart-big-dark-orange.png) no-repeat left center;
    background-size: 13px 11px;
    padding-left: 15px;
}
.rateMiddleHeart.bigHeart {
    background-size: 45px 37px;
    background-image: url(/Content/collections/imgs/heart-big-dark-orange.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.rateHighHeart {
    color: #f22613;
    background: url(/Content/collections/imgs/heart-big-light-red.png) no-repeat left center;
    background-size: 13px 11px;
    padding-left: 15px;
}
.rateHighHeart.bigHeart {
    background-size: 45px 37px;
    background-image: url(/Content/collections/imgs/heart-big-light-red.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.rateLowHeart {
    color: #f89406;
    background: url(/Content/collections/imgs/heart-big-light-orange.png) no-repeat left center;
    background-size: 13px 11px;
    padding-left: 15px;
}
.rateLowHeart.bigHeart {
    background-size: 45px 37px;
    background-image: url(/Content/collections/imgs/heart-big-light-orange.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.rateLowerHeart.bigHeart {
    background-size: 45px 37px;
    background-image: url(/Content/collections/imgs/heart-big-yellow.png);
    background-position: left center;
    background-repeat: no-repeat;
}
#subscription-notice {
    padding-top: 8px;
    text-align: center;
}
.download_icon_container {
    padding-bottom: 8px;
    display: block;
}
.download_icon_container img {
    margin: 0 auto;
    width: 70%;
}
.neighbourhoods-list {
    margin-top: -6px;
}
.neighbourhoods-list ul {
    float: left;
}
.neighbourhoods-list ul.even {
    float: right;
}
.neighbourhoods-list a {
    color: #000;
    font-size: 13px;
    font-weight: 600;
}
.neighbourhoods-list a.more {
    margin: 20px 0;
    color: #8d8d8d;
    display: block;
    clear: both;
}
.collection_item {
    color: #fff!important;
    display: block;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.collection_item:hover,.collection_item:active {
    text-decoration: none;
}
#footer {
    width: 100%;
    min-width: 1024px;
}
#footer .footer-1 {
    background: #313131;
    min-height: 62px;
    line-height: 61px;
}
#footer .footer-2 {
    background: #242121;
    min-height: 58px;
    line-height: 58px;
}
#footer .footer-1 ul {
    margin-bottom: 0;
}
#footer .fr_top li {
    float: left;
    margin-right: 35px;
}
#footer .fr_top li a {
    font-size: 16px;
    color: #fff;
}
#footer .fr_bottom {
    padding: 15px 0 0;
}
#footer .rights,#footer .rights a,#footer .fr_qck_links {
    color: #8d8d8d;
    font-size: 11px;
}
#footer .fr_bottom {
    padding: 15px 0 0;
}
#footer .fr_qck_links {
    padding: 0 0 5px;
}
#footer .fr_qck_links a {
    padding: 0 4px;
}
#footer .rights a {
    padding-left: 4px;
}
#footer .rights a:first-child {
    padding-left: 0;
}
#footer .fr_qck_links a:last-child,#footer .fr_qck_links a:nth-child(28) {
    border-right: none;
}
#footer .rights a:hover,#footer .fr_qck_links a:hover {
    color: #fff;
}
.social_wrapper a {
    color: #ebebeb;
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
    line-height: 50px;
    vertical-align: middle;
}
.social_wrapper a .twitter:hover {
    color: #2ba8de;
}
.social_wrapper a .facebook:hover {
    color: #3d5998;
}
.social_wrapper a .google:hover {
    color: #D91E18;
}
.heading-01 {
    padding: 20px 0;
}
.heading-01 h2 {
    color: #363636;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    font-weight: 600;
}
.heading-01 h2 a {
    color: #363636;
}
.heading-01 h2 a:hover {
    color: #363636;
    text-decoration: none;
}
/*Changing Bootstrap*/
body { 
    cursor: default; 
    font-family: 'Open Sans',sans-serif;
}
p {
    font-size: 13px;
}
.navbar { margin-bottom: 0 }
.navbar-default {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #D91E18;
}
.navbar-default .navbar-link:hover {
  color: #D91E18;
}
.navbar-brand {
  font-size: 24px;
  padding: 0;
  height: 35px;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
}
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
/*Wrappers*/
.form-submit-button {
    background-color: #8D8D8D!important;
    margin-bottom: 8px;
}

.form-submit-button:hover {
    background-color: #787878!important;
}

.form-sign-submit-button {
    background: none repeat scroll 0 0 #D94A39!important;
    margin-bottom: 8px;
    border: 0!important;
}

.form-sign-submit-button:hover {
    background: none repeat scroll 0 0 #C13828!important;
}

.divi-new {
    background: transparent url("/Content/collections/imgs/bg-1px-grey-divi-09f48aedcf909eaa3eadfef0d8f9ffa1.png") repeat-x left 9px;
    text-align: center;
    color: grey;
    line-height: 16px;
    padding-bottom: 13px;
}

.divi-new span {
    background-color: #fff;
    font-size: 14px;
    text-transform: lowercase;
    padding: 0 10px;
}

.login_wrapper {
    text-align: center;
}
.login_wrapper>.facebook-link-storage {
    padding-top: 10px;
    padding-bottom: 12px;
}

.login_wrapper_checkbox {
    display: inline-block!important;
}

.login_wrapper .btn {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.login_wrapper .form-control {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.width_300 {
    width: 550px;
}
.width_350 {
    width: 350px;
}

.pad_0x17 {
    padding: 0 17px;
}

.user-dropdown {
    box-shadow: 0 5px 5px #000000;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    position: absolute;
    top: 45px;
    right: 0;
    width: 220px;
    z-index: 9;
    font-size: 13px;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.arrow_box {
    background: url(/Content/collections/imgs/arrow_box.png) no-repeat;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -10px;
    width: 50px;
    z-index: 10;
}

.join_form h2 {
    margin-bottom: 22px;
}

.join_form input[type="text"],.join_form input[type="password"],.join_form input[type="email"] {
    background-color: #FFF;
    border: none;
    width: 100%;
    height: 39px;
    border: 1px solid #E4E4E2;
    padding: 5px 10px;
}

.join_form input[type="text"]:focus,.join_form input[type="password"]:focus,.join_form input[type="email"]:focus {
    border-color: #9A9A93;
}

.join_form li {
    margin-bottom: 15px;
}

.join_form li label {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8d8d8d;
}

.join_form li button {
    border: none;
    background-color: #D91E18;
}

.join_form li .button {
    padding: 0 20px;
    height: 29px;
    color: #fff;
}

.join_form input[type="text"],.join_form input[type="password"],.join_form input[type="email"] {
    background-color: #FFF;
    border: none;
    width: 100%;
    height: 39px;
    border: 1px solid #E4E4E2;
    padding: 5px 10px;
}

.join_form input[type="text"]:focus,.join_form input[type="password"]:focus,.join_form input[type="email"]:focus {
    border-color: #9A9A93;
}

.join_form li {
    margin-bottom: 15px;
}

.join_form li label {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8d8d8d;
}

.join_form li button {
    border: none;
    background-color: #D91E18;
}

.join_form li .button {
    padding: 0 20px;
    height: 29px;
    color: #fff;
}

.login_wrapper_hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-signin-heading {
    margin-top: 10px;
}
#redfoodie-user-signin {
    color: #fff;
}
.fb-log-in {
    background: url(/Content/collections/imgs/sprite.png) no-repeat -440px -333px;
    height: 55px;
    width: 300px;
    cursor: pointer;
}
.fb-sign-up {
    background: url(/Content/collections/imgs/sprite.png) no-repeat -440px -388px;
    height: 55px;
    width: 300px;
    cursor: pointer;
}
.back {
    color: #FFF!important;
    height: 29px;
    padding: 0 20px;
    background-color: #8D8D8D;
    border: medium none;
    font-size: 14px!important;
}
.back:hover {
    background-color: #787878;
    text-decoration: none!important;
}
.create {
    color: #FFF!important;
    height: 29px;
    padding: 0 20px;
    border: medium none;
    background: none repeat scroll 0 0 #D91E18;
}
.create:hover {
    background: none repeat scroll 0 0 #C13828;
}