@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav nav-pills">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav nav-pills">
        <li><a data-modal-link="1" class="navbar-link" href="#login" rel="login" id="user-login">Login</a></li>       
        <li><a data-modal-link="1" class="navbar-link" href="#Signup" id="registerLink">Sign up</a></li>       
    </ul>
}
