@model redfoodie.Models.ForgootPasswordEmailViewModel
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        @@font-face {
            font-family: "proxima_nova";
            src: url("https://www.dropbox.com/static/fonts/proximanova/proxima-nova-regular.otf") format("opentype");
            font-weight: normal;
            font-style: normal;
        }
        a {
            color: #D91E18;
            text-decoration: none;
        }
    </style>
</head>
<body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;"
      marginheight="0" marginwidth="0">
    <center>
        <table cellpadding="8" cellspacing="0"
               style="*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff;"
               border="0">
            <tr>
                <td valign="top">
                    <table cellpadding="0" cellspacing="0"
                           style="border-radius: 4px; -webkit-border-radius: 4px; border: 1px #e5e5e3 solid; -moz-border-radius: 4px;"
                           border="0" align="center">
                        <tr>
                            <td colspan="3" height="6"></td>
                        </tr>
                        <tr style="line-height: 0px;">
                            <td width="100%" align="center" height="1">
                                <h1 style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; color: #D91E18; font-size: 24px; padding-top: 20px;">
                                    <img src="https://www.redfoodie.com/redfoodie/img/emailer/logo-red.png" alt="Redfoodie" width="155" height="33" />
                                </h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" style="line-height: 25px;" border="0" align="center">
                                    <tr>
                                        <td colspan="3" height="30"></td>
                                    </tr>
                                    <tr>
                                        <td width="36"></td>
                                        <td width="454" align="left" style="color: #444444; border-collapse: collapse; font-size: 11pt; font-family: proxima_nova, 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; max-width: 454px;" valign="top">

                                            Hi a,<br><br>

                                            Someone recently requested a password change for your account.
                                            If this was you, you can set a new password here:

                                            <br><br>
                                            <center>
                                                <a style="border-radius: 11px; font-size: 15px; color: white; border: 1px #D91E18 solid; text-decoration: none; padding: 14px 7px 14px 7px; width: 210px; max-width: 210px; font-family: proxima_nova, 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif; margin: 6px auto; display: block; background-color: #D91E18; text-align: center;" href="@Model.CallbackUrl">
                                                    Reset password
                                                </a>
                                            </center>

                                            <br><br>

                                            If you don't want to change your password or didn't request this, just ignore and delete this message.<br><br>

                                            To keep your account secure, please don't forward this email to anyone.

                                            <br><br>Thanks!<br>- The Redfoodie Team
                                        </td>
                                        <td width="36"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="36"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" align="center" border="0">
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td style="padding: 0; border-collapse: collapse;">
                                <table cellpadding="0" cellspacing="0" align="center" border="0">
                                    <tr style="color: #a8b9c6; font-size: 11px; font-family: proxima_nova, 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; -webkit-text-size-adjust: none;">
                                        <td width="350" align="left">
                                            <a href="https://plus.google.com/+Redfoodiedotcom/" style="margin-right:7px;"><img src="https://www.redfoodie.com/redfoodie/img/emailer/icon-google-plus.png" alt="" /></a>
                                            <a href="https://www.facebook.com/Redfoodiedotcom" style="margin-right:7px"><img src="https://www.redfoodie.com/redfoodie/img/emailer/icon-facebook.png" alt="" /></a>
                                            <a href="https://www.twitter.com/RedfoodieApp" style="margin-right:7px"><img src="https://www.redfoodie.com/redfoodie/img/emailer/icon-twitter.png" alt="" /></a>
                                            <a href="https://www.instagram.com/redfoodieapp/" style="margin-right:7px"><img src="https://www.redfoodie.com/redfoodie/img/emailer/icon-instagram.png" alt="" /></a>
                                        </td>
                                        <td width="178" align="right">© 2016 Redfoodie Media Pvt Ltd</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>