@{
    ViewBag.Title = "FAQs about verified accounts:";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix pad_30 cms_wrapper  career_inner ">
    <div class="globalwidth clearfix pad_t12">
        <div class="clearfix font_roman verified_inner">
            <div class="globalwidth clearfix pad_t12">
                <div class="pull-left pad_40">
                    <h5><strong>@ViewBag.Title</strong></h5>

                    <p>
                        <strong>What is a verified account?</strong><br>
                        Any account with a blue verified badge on their Redfoodie profile is a verified account.&nbsp;
                    </p>

                    <p>
                        <strong>Why does Redfoodie verify accounts?</strong><br>
                        The verification of the viewers account is to&nbsp;credit the great effort put in by some reviewers to write unbiased reviews. We want to highlight and provide recognition to the efforts of these&nbsp;reviewers.&nbsp;The reviews by the verified accounts are tagged by Redfoodie as the ones which are completely reliable.
                    </p>

                    <p>
                        <strong>Why hasn't my account been verified&nbsp;or&nbsp;How do i get in touch with Redfoodie for this?</strong><br>
                        You can't really contact anyone at Redfoodie. The only way is to keep writing great and unbiased reviews so that you stand out with your account in comparison to others.&nbsp;
                    </p>

                    <p>If you have any queries, please get in touch with us at <u>verify@redfoodie.com</u></p>

                    <div class="verified_contnt">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
