@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/notification")
<div class="globalwidth clearfix clearfix font_roman pad_110">
    <div class="notify-left pull-left">
        <h3>@ViewBag.Title</h3>
        <div id="user-notification-wrapper">
            <div class="Review_box emptyBox"><h5>No Notifications</h5></div>
        </div>
    </div>
    <div class="notify-right pull-right">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Who to Follow</h4></div>
            <div class="panel-body random-users">
                <div class="item clearfix">
                    <figure class="user-image pull-left">
                        <a href="/users/shruti-506/profile"><img src="/assets/images/default/profile/user/user.svg" height="146" width="146" alt="shruti " title="shruti "></a>
                    </figure>
                    <div class="user-details pull-right">
                        <div class="user-name">
                            <a href="/users/shruti-506/profile"><strong> shruti  </strong></a>
                        </div>
                        <div class="clearfix user-rank">


                            <div class="button followed follow" data-prototype="shruti-506" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <figure class="user-image pull-left">
                        <a href="/users/abhishek-sinha-507/profile"><img src="/assets/images/default/profile/user/user.svg" height="146" width="146" alt="abhishek sinha " title="abhishek sinha "></a>
                    </figure>
                    <div class="user-details pull-right">
                        <div class="user-name">
                            <a href="/users/abhishek-sinha-507/profile"><strong> abhishek sinha  </strong></a>
                        </div>
                        <div class="clearfix user-rank">


                            <div class="button followed follow" data-prototype="abhishek-sinha-507" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <figure class="user-image pull-left">
                        <a href="/users/vaibhav-chadha-508/profile"><img src="/assets/images/default/profile/user/user.svg" height="146" width="146" alt="vaibhav chadha " title="vaibhav chadha "></a>
                    </figure>
                    <div class="user-details pull-right">
                        <div class="user-name">
                            <a href="/users/vaibhav-chadha-508/profile"><strong> vaibhav chadha  </strong></a>
                        </div>
                        <div class="clearfix user-rank">


                            <div class="button followed follow" data-prototype="vaibhav-chadha-508" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <figure class="user-image pull-left">
                        <a href="/users/711250645670621/profile"><img src="/uploads/thumbs/user/711250645670621/146x146_75a17aa62a043a984e51a06a26e50824264ecf81.jpg" height="146" width="146" alt="Nakul " title="Nakul "></a>
                    </figure>
                    <div class="user-details pull-right">
                        <div class="user-name">
                            <a href="/users/711250645670621/profile"><strong> Nakul  </strong></a>
                        </div>
                        <div class="clearfix user-rank">


                            <div class="button followed follow" data-prototype="711250645670621" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4><a href="/users/import-user-contacts">Invite friends</a></h4></div>
        </div>
    </div>
</div>

