@using redfoodie.Views
@model redfoodie.Models.ShortUrlViewModel
@* ReSharper disable once UnknownCssClass *@
@if (Model.ShortUrl == null)
{
    <p class="text-justify clr-grey" style="font-size: 12px">
        You can now register a short url to your profile.
        <br>You can set your profile URl only once.
    </p>
    <div class="input-group form-group">
        <span class="input-group-addon">Redfoodie.com/</span>
        @Html.TextBoxFor(m => m.ShortUrl, true, null, new { id = "su_shortUrl", @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ShortUrl), title = Html.DisplayNameFor(x => x.ShortUrl), autocomplete = "off", style = "background-color:white;" })
        @Html.ValidationMessagesFor(m => m.ShortUrl, new { @class = "text-danger" })
    </div>
    <button type="submit">Save</button>
}
else
{
    var request = HttpContext.Current.Request;
    var appUrl = HttpRuntime.AppDomainAppVirtualPath;
    if (appUrl != "/")
    {
        appUrl = "/" + appUrl;
    }
    var shortUrl = $"{request.Url.Authority}{appUrl}{Model.ShortUrl}";
    <a href="/@Model.ShortUrl">@shortUrl</a>
}