@model redfoodie.Models.SuggestedUsersViewModel
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/notification")
@* ReSharper disable UnknownCssClass *@
<div class="globalwidth clearfix clearfix pad_110">
    <div class="notify-left pull-left">
        <h3>@ViewBag.Title</h3>
        <div id="user-notification-wrapper">
            <h5>No Notifications</h5>
        </div>
    </div>
    <div class="notify-right pull-right">
        @* ReSharper restore UnknownCssClass *@
        <div class="panel panel-default">
            @Html.Partial("_SuggestedUsers", Model)
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>@Html.ActionLink("Invite friends", "InviteFriends", "Manage", null, null)</h4>
            </div>
        </div>
    </div>
</div>

